# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/hotkeys.json
.obsidian/core-plugins.json
.obsidian/community-plugins.json
.trash/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Data
data/raw/
data/subtitles/

# Env
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
